body {
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    margin: 64px 16%;
    padding: 2px;
    width: 68%;
}

.banner-content {
    display: inline-block;
    margin-left: 24px;
}

.banner-content-title {
    margin-bottom: 24px;
}

.download-table {
    margin-top: 24px;
    table-layout: fixed;
}

.download-table td {
    width: 14%;
}

.section {
    margin-top: 48px;
    margin-left: 24px;
}

img {
    vertical-align: top;
    padding-top: 16px;
    padding-bottom: 16px;
}

h1, h2, h3 {
    font-weight: 300;
}

.mdl-radio {
    margin-left: 24px;
}

.helper-download {
    margin-top: 24px;
}